/* Color Palette */
:root {
  --color-card: #fff;
  --color-badge: #59d8d1;
  --color-button: #fa6e3d;
  --color-link: #1194f6;
  --color-text: #000;
  --color-bold-text: #373737;
  --color-block: #f1f5f8;
  --color-selection: #373737;
}

/* Typography */
::selection {
  background-color: var(--color-selection);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-link);
  font-family: "proxima nova", sans-serif;
  font-size: 1.5rem;
  /* line-height: 1.5; */
}

h1 {
  color: var(--color-card);
  font-size: 102.18px;
  font-weight: 800;
  line-height: 112.62px;
}

h2 {
  font-size: 20;
  line-height: 36px;
}

h3 {
  font-size: 20px;
  line-height: 20px;
}

.top_header {
  background-color: #23123a;
  height: 55px;
  width: 100vw;
}

/* Grid containers */
.grid {
  display: grid;
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* navigation */
.nav-container {
  height: 45px;
  width: 100vw;
}

.nav-links {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-links > li {
  background-color: var(--color-card);
  border: 1px solid #ededed;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 12px;
  text-align: center;
}

.nav-links > li:hover {
  cursor: pointer;
}
