/* Color Palette */
:root {
  --color-card: #fff;
  --color-badge: #59d8d1;
  --color-button: #fa6e3d;
  --color-link: #1194f6;
  --color-text: #000;
  --color-fore-selection: #bbbbbbaf;
  --color-block: #f1f5f8;
  --color-back-selection: #373737;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-text);
  color: var(--color-card);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "proxima nova", sans-serif;
  font-size: 1.5rem;
}

h1 {
  color: var(--color-card);
  font-size: 102.18px;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 20px;
  line-height: 36px;
}

h2::selection,
h3::selection {
  color: var(--color-fore-selection);
}

h3 {
  font-size: 20px;
  line-height: 20px;
}

.top_header {
  background-color: #23123a;
  height: 55px;
  width: 100vw;
}

/* Grid containers */
.grid {
  display: grid;
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* navigation */
.nav-container {
  height: 45px;
  width: 100vw;
}

.nav-links {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-links > li {
  background-color: var(--color-card);
  border: 1px solid #ededed;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 12px;
  text-align: center;
}

.nav-links > li:hover {
  cursor: pointer;
}

/* hero block */
.hero__image {
  max-height: 532px;
  width: 100vw;
}

.hero_header {
  left: 57px;
  margin: 0;
  position: absolute;
  top: 167px;
}

.hero_header::selection {
  background-color: #c5e7c5;
  color: var(--color-text);
}

@media screen and (max-width: 1162px) {
  .hero_header {
    font-size: 8vw;
    margin: 0 auto;
    right: 203px;
  }

  .hero__image {
    width: 100vw;
  }
}

@media screen and (min-width: 1123px) {
  .hero_header {
    font-size: 102px;
  }
}

@media screen and (max-width: 425px) {
  .hero_header {
    font-size: 54px;
    left: 0;
    line-height: 64px;
    right: 0;
    top: 144px;
  }

  .hero__image {
    height: 410px;
    width: 100vw;
  }
}

/* Card Component*/
.card {
  background-color: var(--color-card);
  grid-template-rows: repeat(4, 1fr);
  height: 370px;
  margin: auto;
  max-width: 1002px;
  padding: 46px 72px;
  width: 100%;
}

.grid--cols-1 {
  grid-template-columns: 1fr;
}

.card-header_container {
  align-items: center;
  display: flex;
  gap: 20px;
  margin: 25px 0;
}

.card-header,
.card_review {
  margin: 0;
}

.card_review {
  white-space: nowrap;
}

.card-header {
  color: #373737;
  flex-grow: 1;
  font-weight: 400;
}

.card_rating {
  display: flex;
}

.star,
svg {
  width: 12px;
}

#star-5 {
  margin-right: 12px;
}

.card-main,
.card-main_left {
  display: flex;
}

.card-main {
  column-gap: 36px;
}

.card-main_left {
  column-gap: 18px;
  height: 96px;
  justify-content: space-between;
}

.card-main_credit-card {
  column-gap: 40px;
  display: grid;
  grid-template-columns: 272px 1fr;
}

.credit-card {
  height: 96px;
}

.btn-apply {
  border-radius: 5.4px;
  border: 1px solid white;
  font-family: "proxima nova";
  font-size: 15px;
  font-weight: 700;
  line-height: 14px;
  order: 1;
  outline: none;
  padding: 12px 97px;
  width: 272px;
}

.btn-apply::selection {
  background-color: #1c8fa9;
  color: var(--color-text);
}

.btn-apply:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-button);
  color: #fff;
}

.card-info {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.card-info > li {
  font-size: 18px;
  margin-bottom: 17px;
}

.card-info > li:nth-child(3) {
  margin-bottom: 0;
}

.card-divider {
  align-self: end;
  width: 100%;
}

.card-rates {
  align-self: center;
  font-size: 18px;
  height: max-content;
}

.card-rates::selection,
.show_more::selection {
  color: var(--color-button);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

.approval_container > * {
  margin: 0;
  text-align: center;
}

.approval_container > p::selection {
  background-color: #952a2a;
  color: var(--color-text);
}

.approval_container > h4 {
  font-weight: 400;
  margin: 0 auto;
  width: 82px;
}

.good_badge {
  background-color: var(--color-badge);
  border-radius: 100px;
  color: #fff;
  font-weight: 700;
  line-height: initial;
  margin-top: 14px;
  padding: 7px 15px;
}

/* Credit Section */
.card_section {
  background-color: var(--color-block);
  margin-top: -4px;
}

.block {
  padding: 55px;
  padding-left: 65px;
}

.card_block {
  margin: 0 auto;
  max-width: 1121px;
}

.block.card_block h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 0;
  max-width: 1001px;
}

/* Mobile Screens */
@media screen and (max-width: 1019px) {
  .card {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 30px 50px;
  }
}

@media screen and (max-width: 969px) {
  .card-info {
    grid-area: 1/2/3/3;
  }

  .btn-apply {
    margin-top: 24px;
  }
}

@media screen and (max-width: 957px) {
  .card-info > li {
    font-size: 17px;
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 768px) {
  .hero_header {
    left: 35px;
    top: 135px;
  }
}

@media screen and (min-width: 761px) and (max-width: 775px) {
  .block.card_block h2 {
    white-space: nowrap;
  }
}

@media screen and (min-width: 776px) and (max-width: 816px) {
  .card {
    padding: 30px 30px;
  }

  .block.card_block h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 696px) {
  .block {
    padding: 30px;
  }

  .card {
    padding: 20px;
  }

  .block.card_block h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 695px) {
  .block {
    padding: 30px 0;
  }

  .block.card_block h2 {
    font-size: 22px;
    padding-left: 20px;
  }

  .card {
    padding: 20px;
  }

  .card-main_credit-card {
    column-gap: 38px;
  }

  .card-info > li {
    font-size: 15px;
  }
}

@media screen and (max-width: 547px) {
  .block {
    padding-bottom: 0;
    padding-top: 24px;
  }

  .block.card_block h2 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 24px;
    padding: 0 50px;
  }

  .card {
    grid-template-rows: repeat(4, auto);
    height: 489px;
    padding-top: 0;
    padding: 20px 50px;
  }

  .card-header_container {
    margin: 15px 0;
  }

  .card-header {
    font-size: 17px;
  }

  .card_rating {
    display: none;
  }

  .card-main_credit-card {
    display: block;
    grid-template-columns: 1fr;
  }

  .card-main_left {
    margin-bottom: 25px;
    justify-content: left;
  }

  .card-info {
    padding-left: 16px;
  }
}

@media screen and (max-width: 425px) {
  .block.card_block h2 {
    padding: 0 15px;
    line-height: 21.6px;
  }

  .card {
    padding: 0 15px 20px;
  }

  .card-main_left {
    column-gap: 29px;
  }

  .btn-apply {
    border-radius: 6px;
    padding: 14.5px;
    width: 100%;
  }

  .card-divider {
    left: -15px;
    margin-bottom: 17px;
    margin-top: 21px;
    position: relative;
    width: calc(100% + 28px);
  }

  .card-rates {
    font-size: 15px;
  }
}
