<div class="card grid grid--cols-1">
  <div class="card-header_container">
    <h3 class="card-header">Barclaycard CashForward™ World MasterCard™</h3>
    <div class="card_rating">
      <img
        onclick="getMe(event)"
        src="images/star_empty.svg"
        id="star-1"
        class="star"
        alt=""
      />
      <img
        onclick="getMe(event)"
        src="images/star_empty.svg"
        id="star-2"
        class="star"
        alt=""
      />
      <img
        onclick="getMe(event)"
        src="images/star_empty.svg"
        id="star-3"
        class="star"
        alt=""
      />
      <img
        onclick="getMe(event)"
        src="images/star_empty.svg"
        id="star-4"
        class="star"
        alt=""
      />
      <img
        onclick="getMe(event)"
        src="images/star_empty.svg"
        id="star-5"
        class="star"
        alt=""
      />
      <p class="card_review">13,252 Reviews</p>
    </div>
  </div>
  <div class="card-main">
    <div class="card-main_credit-card">
      <div class="card-main_left">
        <img
          class="credit-card"
          src="images/credit_card@2x.jpg"
          alt="credit card"
        />
        <div class="approval_container">
          <h4>Approval Odds†</h4>
          <p class="good_badge">Very Good</p>
        </div>
      </div>
      <button class="btn-apply btn-primary">Apply Now</button>
    </div>
    <ul class="card-info">
      <li>
        Get a $100 cash rewards bonus after you spend $500 in purchases in the
        first 90 days after account opening
      </li>
      <li>Earn unlimited 1.5% cash rewards on every purchase.</li>
      <li>
        Earn unlimited 1.5% cash rewards on every...<a
          href="#"
          class="show_more"
          >show more</a
        >
      </li>
    </ul>
  </div>
  <hr class="card-divider" />
  <a class="card-rates" href="#">See Details rates & Fees</a>
</div>
